@font-face {
    font-family: 'Mogens Dice';
    src: url('Mogens-Dice.woff2') format('woff2'), url('Mogens-Dice.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font: 18px arial, sans-serif;
    margin: 20px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}
*{box-sizing:border-box;}

.felt {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2vh;
    /* max-height: 24px;
    min-height: 24px; */
    /* margin-top: 1%; */
    margin-left: 1%;
    height: 3vh;
    vertical-align: top;
    text-align: center;
    width: 13%;
    /* vertical-align: bottom; */
    box-sizing: border-box;
    /* box-sizing: content-box; */
}

.valgt{
    background-color: lightsteelblue;
}

.ufærdig{
    background-color: yellow;
}

.navn {
    /* border: 1px cornflowerblue solid; */
     width: 12.8%; 
    /* margin: 8pt; */
    /* box-sizing: border-box; */
}

.række {
    width: 99%;
    /* background: lightpink; */
    /* max-height: 28px; */
    padding-bottom: 2pt;
}


.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.etiket {
    color: black;
    border: 0px;
    /* background: lightskyblue; */
    text-align: left;
    width: 14%;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

.brugt {
    color: whitesmoke;
}

.fejl {
    background-color: red;
}



.øverst {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    /* max-height: 28px; */
    padding-bottom: 3pt;
}

.nederst {
    width: 100%;
    /* left: 0; */
    text-align: center;
    background: white;
    margin-top: 4px;
    /* position: fixed; */
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    height: min(6vw, 36pt);
    vertical-align: text-bottom;
}

.mellemrum {
    height: 4px;
    /* background-color: gold; */
}

.terning {
    font-family: 'Mogens Dice';
    font-size: min(6vw, 30pt);
    background: white;
    border-style: none;
    /* margin-left: 4%;
    margin-right: 4%; */
    /* background: chocolate; */

}

.knaplinje {
    /* border-style: dotted; */
    display: inline-flex;
    align-content: center;
}

.slag {
    background-color: white;
    text-align: center;
    /* border-style: solid; */
    padding-bottom: 2vh;
    padding-top: 2vh; 
    font-family: 'Mogens Dice';
    font-size: min(6vw, 1.5cm);
    /* padding: 1vw; */
    /*height: min(4vw, 24pt);*/
    vertical-align: middle 
    ;
}

.blok{
    /* background-color: darkslateblue; */
}