@font-face {
    font-family: 'Mogens Dice';
    src: url('Mogens-Dice.woff2') format('woff2'),
        url('Mogens-Dice.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

